<div class="container-fluid">
  <app-page-title title="Journées Hôtel"></app-page-title>
  <div class="row mb-2" *ngIf="!have_opened_day || bureauJourneData.length==0">

    <div class="col-sm-8">
      <div class="text-sm">
        <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openDay()"><i class="mdi mdi-door-open"></i>
          Ouvrir une journée</button>
      </div>
    </div><!-- end col-->
  </div>

  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">


          <div class="table-responsive" *ngIf="bureauJourneData.length>0">
            <table class="table mb-0 table-bordered">
              <thead class="header-blue">
              <tr>
                <th>Date ouverture</th>
                <th>Date fermeture</th>
                <th>Responsable d'ouverture	</th>
                <th>Responsable de fermeture</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let journee of bureauJourneData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>{{journee.date_ouverture}}</td>
                <td>{{journee.date_fermuture}}</td>
                <td>{{journee.code_user_ouv}}</td>
                <td>{{journee.code_user_ferm}}</td>
                <td >  <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="closeDay(journee)" *ngIf="journee.etat=='ouverte'"><i class="mdi mdi-door-closed-lock"></i>
                  fermer</button></td>

              </tr>
              </tbody>
            </table>
            <div class="text-md-right float-md-end pagination-rounded">
              <ngb-pagination [collectionSize]="bureauJourneData.length" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination>
            </div>
          </div>

          <div *ngIf="bureauJourneData.length==0">
            <ngb-alert [dismissible]="false" type="warning" class="text-center">
              Il y a aucune journée ouverte cliquer sur ajouter pour ouvrir une journée!
            </ngb-alert>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
