.dropdown:hover>#coursChange {
  display: block;
}
#coursChange{
  background: transparent;
  box-shadow: none;
  padding: inherit;
  right: 0;
  width: 330px;
}
.table100.ver6 {
  border-radius: 16px;
  overflow: hidden;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373b44, #2a3042); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373b44, #2a3042); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.table100.ver6 table {
  background-color: transparent;
}

.table100.ver6 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
}

.table100.ver6 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: rgba(255,255,255,0.32);
}

.table100.ver6 .row100:hover td {
  background-color: rgba(255,255,255,0.1);
}

.table100.ver6 .hov-column-ver6 {
  background-color: rgba(255,255,255,0.1);
}


.table100.ver6 .row100 td:hover {
  background-color: rgba(255,255,255,0.2);
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 10px;
  padding-bottom: 9px;
}

.row100 td {
  padding-top: 5px;
  padding-bottom: 5px;
}
