<div class="container-fluid">
  <app-page-title title="Création Comptes" ></app-page-title>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Création Compte Bureau</h4>
        <p class="card-title-desc"></p>
        <form class="needs-validation" (ngSubmit)="addBCCompte()" [formGroup]="signupBCForm">
          <div class="row">

            <div class="col-md-4">
              <div class="mb-3 position-relative">
                <label >IdBCT <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="mdi mdi-bank"></i> </span>
                  </div>
                  <input type="text" class="form-control"  formControlName="idBCT"
                         placeholder="Identifiant Banque Centrale"
                         [ngClass]="{'is-valid': BCForm.idBCT.touched && BCForm.idBCT.valid,'is-invalid': BCForm.idBCT.touched && BCForm.idBCT.invalid}">


                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3 position-relative">
                <label >Email <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="dripicons-mail" ></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="email"
                         placeholder="email"
                         [ngClass]="{'is-valid': BCForm.email.touched && BCForm.email.valid,'is-invalid': BCForm.email.touched && BCForm.email.invalid}">
                </div>

              </div>
            </div>


            <div class="col-md-4">
              <div class="mb-3 position-relative">
                <label >Nom <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="dripicons-information"></i> </span>
                  </div>
                  <input type="text" class="form-control"  formControlName="nom"
                         placeholder="Nom du bureau"
                         [ngClass]="{'is-valid': BCForm.nom.touched && BCForm.nom.valid,'is-invalid': BCForm.nom.touched && BCForm.nom.invalid}">


                </div>
              </div>
            </div>


          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="mb-3 position-relative">
                <label >Adresse <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="dripicons-location"></i> </span>
                  </div>
                  <input type="text" class="form-control"  formControlName="adresse"
                         placeholder="Adresse"
                         [ngClass]="{'is-valid': BCForm.adresse.touched && BCForm.adresse.valid,'is-invalid': BCForm.adresse.touched && BCForm.adresse.invalid}">


                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3 position-relative">
                <label >Téléphone <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="dripicons-phone"></i> </span>
                  </div>
                  <input type="text" class="form-control"  formControlName="telephone"
                         placeholder="Téléphone"
                         [ngClass]="{'is-valid': BCForm.telephone.touched && BCForm.telephone.valid,'is-invalid': BCForm.telephone.touched && BCForm.telephone.invalid}">


                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3 position-relative">
                <label >Sélectionner une image </label>
                <div class="input-group">

                  <button type="button" class=" btn btn-primary2 btn-round2" >
                    <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                    <input type="file" formControlName="logo"  (change)="fileEvent($event)"
                    >
                  </button>

                </div>
              </div>
            </div>



          </div>

          <div class="text-center">
            <button class="btn btn-primary" type="submit" [disabled]="!signupBCForm.valid">Confirmer</button>
          </div>
        </form>

      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

</div>
