input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
}
.btn-round2 {
  border-width: 1px;
  border-radius: 30px;
  padding-right: 23px;
  padding-left: 23px;
  width: 100%;
  // margin:auto;
  cursor: pointer;

}
.btn-primary2 {
  background-image: linear-gradient(45deg, #bdc3c7, #2c3e50 100%) !important;
  color: white;
}
.has-danger
{
  border: 2px solid #f46a6a;
}
.has-success
{
  border: 2px solid #34c38f;
}
