.sidebar-footer {
  position: static;
  bottom: 0;
  height: 50px;
  background-color: #253544;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.sidebar-footer a {
  width: 25%;
  text-align: center;
  font-size: 18px;
  color: #b4bcc8; }
.sidebar-footer i{
  font-size: 30px;
}
.sidebar-footer a:hover {
  font-size: 20px;
  color: #fff; }
body.sidebar-enable.sidebar-footer {
  display: none; }
