.header-blue{
  --bs-table-bg:#2a3042;
  color:#fff;
  border-color:#2a3042;
}

.darkgrayBackgroun{
  background: darkgray;
}
ng-select.ng-select-multiple.ng-invalid.ng-touched  {
  border: 1px solid #f46a6a;
}

ng-select.ng-select-multiple.ng-valid.ng-touched  {
  border: 1px solid #34c38f;
}



div>.ng-value {
  background-color: blue!important;
  border: 1px solid #e6e6e6;
}
