<div class="container-fluid">

    <app-page-title title="Utilisateurs" ></app-page-title>
    <div class="row">
      <div class="row mb-2">
        <div class="col-sm-4">
          <div class="search-box me-2 mb-2 d-inline-block">
            <div class="position-relative">
              <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="item">
              <i class="bx bx-search-alt search-icon"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table project-list-table table-nowrap align-middle table-borderless ">
              <thead class="header-blue">
              <tr>
                <th scope="col" style="width: 100px">#</th>
                <th scope="col" style="width: 100px">Code</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom utilisateur</th>
                <th scope="col">Email</th>
                <th scope="col">CIN</th>
                <th scope="col">Caisse</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of bureauUsersData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:item" [ngClass]="{'darkgrayBackgroun': user.id === userId}">
                <th >
                  <img src="../../../../assets/images/users/avataruser2.png" alt="">
                </th>
                <th >
                  {{user.code}}
                </th>
                <td class=" fw-medium">
                  {{user.nom}}
                </td>
                <td class=" fw-medium">
                  {{user.prenom}}
                </td>
                <td class=" fw-medium">{{user.username}}</td>

                <td class=" fw-medium">
                  {{user.email}}
                </td>
                <td class="fw-medium">
                  {{user.cin}}
                </td>
                <td class=" fw-medium">
                  {{user.caisse.code}}: {{user.nom}} {{user.prenom}}
                </td>
                <td class="font-size-20">
                  <ul class="list-inline font-size-20  mb-0">
                    <li class="list-inline-item px-2">
                      <a href="javascript: void(0);" ngbTooltip="Edit" class="font-size-24" (click)="openEditModal(user)"><i class="mdi mdi-account-edit-outline"></i></a>
                    </li>
                    <li class="list-inline-item px-2" [hidden]="user.id === userId">
                      <a href="javascript: void(0);" ngbTooltip="Désactiver" class="font-size-24" (click)="desactiverUser(user)"><i class="mdi mdi-account-remove"></i></a>
                    </li>
                    <li class="list-inline-item px-2" [hidden]="user.id !== userId" >
                      <a href="javascript: void(0);" ngbTooltip="Changer mot de passe" class="font-size-24" (click)="openChangePwdModal(user.email)"><i class="mdi mdi-key-change"></i></a>
                    </li>
                  </ul>

                </td>
              </tr>
              </tbody>
            </table>
            <div class="text-md-right float-md-end pagination-rounded">
              <ngb-pagination [collectionSize]="bureauUsersData.length" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination>
            </div>


          </div>

        </div>
      </div>
    <!-- end row -->



  </div>
<ng-template #edituser let-modal>
  <div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"> </button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" (ngSubmit)="editUserCompte()" [formGroup]="EditUserForm">
      <div class="row">
        <div class="col-md-3">
          <div class="mb-3 position-relative">
            <label >Nom <span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class="dripicons-information"></i> </span>
              </div>
              <input type="text" class="form-control"  formControlName="nom"
                     placeholder="Nom"
                     [ngClass]="{'is-valid': UserForm.nom.touched && UserForm.nom.valid,'is-invalid': UserForm.nom.touched && UserForm.nom.invalid}">


            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="mb-3 position-relative">
            <label >Prénom <span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class="dripicons-information"></i> </span>
              </div>
              <input type="text" class="form-control"  formControlName="prenom"
                     placeholder="Prénom"
                     [ngClass]="{'is-valid': UserForm.prenom.touched && UserForm.prenom.valid,'is-invalid': UserForm.prenom.touched && UserForm.prenom.invalid}">


            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3 position-relative">
            <label >Nom utilisateur<span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class="dripicons-information"></i> </span>
              </div>
              <input type="text" class="form-control"  formControlName="username"
                     placeholder="Nom utilisateur"
                     [ngClass]="{'is-valid': UserForm.username.touched && UserForm.username.valid,'is-invalid': UserForm.username.touched && UserForm.username.invalid}">


            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mb-3 position-relative">
            <label >Cin <span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="dripicons-information" ></i></span>
              </div>
              <input type="text" class="form-control" formControlName="cin"
                     placeholder="Cin"
                     [ngClass]="{'is-valid': UserForm.cin.touched && UserForm.cin.valid,'is-invalid': UserForm.cin.touched && UserForm.cin.invalid}">
            </div>

          </div>
        </div>





      </div>

      <div class="row">

        <div class="col-md-3">
          <div class="mb-3 position-relative">
            <label >Email <span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="dripicons-mail" ></i></span>
              </div>
              <input type="text" class="form-control" formControlName="email"
                     placeholder="email"
                     [ngClass]="{'is-valid': UserForm.email.touched && UserForm.email.valid,'is-invalid': UserForm.email.touched && UserForm.email.invalid}">
            </div>

          </div>
        </div>
        <div class="col-md-5">
          <div class="mb-3 position-relative">
            <label >Roles <span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class="dripicons-phone"></i> </span>
              </div>
              <ng-select [items]="roles"
                         multiple="true"
                         bindLabel="name"
                         bindValue="name"
                         [searchable]="true"
                         [closeOnSelect]="false"
                         [ngClass]="{'is-invalid': UserForm.roles.touched && UserForm.roles.invalid,'is-valid': UserForm.roles.touched && UserForm.roles.valid }"
                         placeholder="Choisir roles"
                         (change)="getValues($event)"
                         formControlName="roles"
                         style="width: 86%;"



              >


              </ng-select>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3 position-relative">
            <label >Bureau <span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class=" mdi mdi-office-building-outline "></i> </span>
              </div>
              <input type="text" class="form-control" formControlName="bureauId" disabled >




            </div>
          </div>
        </div>




      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit" [disabled]="!EditUserForm.valid">Confirmer</button>
      </div>
    </form>

  </div>
</ng-template>


<ng-template #changePWD let-modal>
  <div class="modal-header border-bottom-0">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"> </button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" (ngSubmit)="changerPWD()" [formGroup]="changePwdForm">
          <div class="mb-3 position-relative">
            <label >Mot de passe actuel <span class="required"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class="mdi mdi-account-key font-size-17"></i> </span>
              </div>
              <input type="password" class="form-control"  formControlName="actualpassword"
                     placeholder="Mot de passe actuel"
                     [ngClass]="{'is-valid': changepwdForm.actualpassword.touched && changepwdForm.actualpassword.valid,'is-invalid': changepwdForm.actualpassword.touched && changepwdForm.actualpassword.invalid}">


            </div>
          </div>


        <div class="mb-3">
          <label>Nouveau mot de passe <span class="required"> *</span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="mdi mdi-key font-size-1"></i> </span>
            </div>
          <input type="password" formControlName="password" class="form-control"
                 placeholder="Nouveau mot de passe"
                 [ngClass]="{ 'is-valid':changepwdForm.password.touched && changepwdForm.password.valid,'is-invalid': changepwdForm.password.touched && changepwdForm.password.errors }"  />
          </div>
        </div>

        <div class="mb-3">
          <label>Retapez le nouveau mot de passe <span class="required"> *</span></label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="mdi mdi-key font-size-1"></i> </span>
            </div>
            <input type="password" formControlName="confirmPassword" class="form-control"
                   placeholder="Retapez le nouveau mot de passe"
                   [ngClass]="{ 'is-valid':changepwdForm.confirmPassword.touched && changepwdForm.confirmPassword.valid,'is-invalid': changepwdForm.confirmPassword.touched && changepwdForm.confirmPassword.errors }"  />
          </div>
        </div>







      <div class="text-center">
        <button class="btn btn-primary" type="submit" [disabled]="!changePwdForm.valid">Confirmer</button>
      </div>
    </form>

  </div>
</ng-template>
