ng-select.ng-select-multiple.ng-invalid.ng-touched  {
  border: 1px solid #f46a6a;
}

ng-select.ng-select-multiple.ng-valid.ng-touched  {
  border: 1px solid #34c38f;
}
ng-select.ng-select-single.ng-invalid.ng-touched  {
  border: 1px solid #f46a6a;
}

ng-select.ng-select-single.ng-valid.ng-touched  {
  border: 1px solid #34c38f;
}
