<div class="container-fluid">
  <app-page-title title="Création Comptes" ></app-page-title>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Création Compte Utilisateur</h4>
        <p class="card-title-desc"></p>
        <form class="needs-validation" (ngSubmit)="addUserCompte()" [formGroup]="signupUserForm">
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3 position-relative">
                <label >Nom <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="dripicons-information"></i> </span>
                  </div>
                  <input type="text" class="form-control"  formControlName="nom"
                         placeholder="Nom"
                         [ngClass]="{'is-valid': UserForm.nom.touched && UserForm.nom.valid,'is-invalid': UserForm.nom.touched && UserForm.nom.invalid}">


                </div>
              </div>
            </div>


            <div class="col-md-3">
              <div class="mb-3 position-relative">
                <label >Prénom <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="dripicons-information"></i> </span>
                  </div>
                  <input type="text" class="form-control"  formControlName="prenom"
                         placeholder="Prénom"
                         [ngClass]="{'is-valid': UserForm.prenom.touched && UserForm.prenom.valid,'is-invalid': UserForm.prenom.touched && UserForm.prenom.invalid}">


                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-3 position-relative">
                <label >Nom utilisateur<span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="dripicons-information"></i> </span>
                  </div>
                  <input type="text" class="form-control"  formControlName="username"
                         placeholder="Nom utilisateur"
                         [ngClass]="{'is-valid': UserForm.username.touched && UserForm.username.valid,'is-invalid': UserForm.username.touched && UserForm.username.invalid}">


                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-3 position-relative">
                <label >Cin <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="dripicons-information" ></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="cin"
                         placeholder="Cin"
                         [ngClass]="{'is-valid': UserForm.cin.touched && UserForm.cin.valid,'is-invalid': UserForm.cin.touched && UserForm.cin.invalid}">
                </div>

              </div>
            </div>





          </div>

          <div class="row">

            <div class="col-md-3">
              <div class="mb-3 position-relative">
                <label >Email <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="dripicons-mail" ></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="email"
                         placeholder="email"
                         [ngClass]="{'is-valid': UserForm.email.touched && UserForm.email.valid,'is-invalid': UserForm.email.touched && UserForm.email.invalid}">
                </div>

              </div>
            </div>
            <div class="col-md-5">
              <div class="mb-3 position-relative">
                <label >Roles <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="dripicons-phone"></i> </span>
                  </div>
                  <ng-select [items]="roles"
                             multiple="true"
                             bindLabel="name"
                             bindValue="name"
                             [searchable]="true"
                             [closeOnSelect]="false"
                             [ngClass]="{'is-invalid': UserForm.roles.touched && UserForm.roles.invalid,'is-valid': UserForm.roles.touched && UserForm.roles.valid }"
                             placeholder="Choisir roles"
                             (change)="getValues($event)"
                             formControlName="roles"
                             style="width: 86%;"


                  >


                  </ng-select>

                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3 position-relative">
                <label >Bureau <span class="required"> *</span></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class=" mdi mdi-office-building-outline "></i> </span>
                  </div>
                  <ng-select [items]="bureaux"
                             bindLabel="nom"
                             [ngClass]="{'is-invalid': UserForm.bureauId.touched && UserForm.bureauId.invalid,'is-valid': UserForm.bureauId.touched && UserForm.bureauId.valid }"
                             placeholder="Choisir Burau"
                             (change)="getIdBCT($event)"
                             formControlName="bureauId"
                             style="width: 88%;"


                  >
                    <ng-template ng-option-tmp let-item="item">
                      {{item.idBCT}} - {{item.nom}}
                    </ng-template>

                  </ng-select>



                </div>
              </div>
            </div>
            <!--<div class="col-md-3">-->
              <!--<div class="mb-3 position-relative">-->
                <!--<label >Adresse <span class="required"> *</span></label>-->
                <!--<div class="input-group">-->
                  <!--<div class="input-group-prepend">-->
                    <!--<span class="input-group-text" ><i class="dripicons-location"></i> </span>-->
                  <!--</div>-->
                  <!--<input type="text" class="form-control"  formControlName="Adresse"-->
                         <!--placeholder="Adresse"-->
                         <!--[ngClass]="{'is-valid': UserForm.Adresse.touched && UserForm.Adresse.valid,'is-invalid': UserForm.Adresse.touched && UserForm.Adresse.invalid}">-->


                <!--</div>-->
              <!--</div>-->
            <!--</div>-->



          </div>

          <div class="text-center">
            <button class="btn btn-primary" type="submit" [disabled]="!signupUserForm.valid">Confirmer</button>
          </div>
        </form>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->

</div>
