<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary"> Réinitialiser le mot de passe</h5>
                  <p></p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>


              <div class="mb-3">
                <label for="password">Mot de passe</label>

                <input type="password" formControlName="password" class="form-control"
                       [ngClass]="{ 'is-valid':f.password.touched && f.password.valid,'is-invalid': f.password.touched && f.password.errors }" id="password" placeholder="Mot de passe" />

              </div>

              <div class="mb-3">
                <label for="Confirmpassword">Confirmer mot de passe</label>

                <input type="password" formControlName="confirmPassword" class="form-control"
                       [ngClass]="{ 'is-valid':f.confirmPassword.touched && f.confirmPassword.valid, 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }" id="Confirmpassword" placeholder="Confirmer mot de passe" />

              </div>
              <div class="text-end">
                <button class="btn btn-primary w-md" type="submit" [disabled]="!resetForm.valid">Confirmer</button>
              </div>
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->


      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
