<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Free Register</h5>
                  <p>Get your free Skote account now.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>






                <div class="mb-3">
                  <label  class="form-label">Email</label>

                  <input type="email" formControlName="email" class="form-control"
                         [ngClass]="{ 'is-valid':f.email.touched && f.email.valid,'is-invalid': f.email.touched && f.email.errors }" placeholder="Email" />


                </div>

                <div class="mb-3">
                  <label  class="form-label">Mot de passe</label>

                  <input type="password" formControlName="password" class="form-control"
                         [ngClass]="{ 'is-valid':f.password.touched && f.password.valid,'is-invalid': f.password.touched && f.password.errors }"  placeholder="Mot de passe" />


                </div>
                <div class="mb-3">
                  <label  class="form-label">Nom Commercial</label>

                  <input type="text" formControlName="Nom_Commercial" class="form-control"
                         [ngClass]="{ 'is-valid':f.Nom_Commercial.touched && f.Nom_Commercial.valid,'is-invalid': f.Nom_Commercial.touched && f.Nom_Commercial.errors }"      placeholder="Nom Commercial" />
                </div>
                <div class="mb-3">
                  <label  class="form-label">Matricule fiscale</label>

                  <input type="text" formControlName="MatF" class="form-control"
                         [ngClass]="{ 'is-valid':f.MatF.touched && f.MatF.valid,'is-invalid': f.MatF.touched && f.MatF.errors }"
                         placeholder="Matricule fiscale" />


                </div>

                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">S'inscrire</button>
                </div>


              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Vous avez déjà un compte ? <a routerLink="/account/login" class="fw-medium text-primary"> Connexion</a>
          </p>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
