<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-page-title title="Cours de Change" ></app-page-title>

    </div>
    <div class="col-lg-6">
      <app-page-title title="Devise" ></app-page-title>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive mb-0">
            <form  [formGroup]="Cours_form">

            <table class="table table-centered table-nowrap" formArrayName="cours_list">
          <thead class="custom-thead">
          <tr>
            <th class="align-middle" style="border-top-left-radius: 20px">Devise</th>
            <th class="align-middle" style="border-top-right-radius: 20px">Achat</th>

          </tr>
          </thead>
          <tbody >
          <tr  *ngFor="let cours of CoursformData().controls ; let i=index;" class="custom-tr" [formGroupName]="i" >

            <td>
              <img src="../../../../assets/{{cours.value.logo}}" height="20" width="auto" alt="">  {{cours.value.nom}}
            </td>
            <td>
              <input type="number" formControlName="achat" min="0" class="form-control">

            </td>




          </tr>
          </tbody>
        </table>
            </form>


      </div>

        </div>
        <div class="row">

          <div class="col-lg-12 text-center">
        <button type="button" class="btn btn-primary btn-rounded mb-2 me-2" [disabled]="!Cours_form.valid"(click)="valider()"><i class="mdi mdi-check-bold"></i>
          Valider</button>

          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive mb-0">


              <table class="table table-centered table-nowrap">
                <thead class="custom-thead-devise">
                <tr>
                  <th class="align-middle" style="border-top-left-radius: 20px">Devise</th>
                  <th class="align-middle" style="border-top-right-radius: 20px">Montant</th>

                </tr>
                </thead>
                <tbody >
                <tr  *ngFor="let devise of devisesData"   >

                  <td>
                    <img src="../../../../assets/{{devise.logo}}" height="20" width="auto" alt="">  {{devise.nom}}
                  </td>
                  <td>
                    <!--{{devise.montant.toLocaleString('en-US',{style: 'currency', currency: devise.currency , currencyDisplay:'symbol'})}}-->
                    {{devise.montant | currency:devise.currency:'symbol-narrow'}}

                  </td>




                </tr>
                </tbody>
              </table>


          </div>

        </div>

      </div>

    </div>

  </div>

</div>
