<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 padding-display-header">

      <h3 class="text-black">
        {{bureauNom}}
      </h3>
    </div>
    <div class="col-lg-4 padding-display-header">

      <h2 class="text-black text-center">
        Bienvenue
      </h2>
    </div>
    <div class="col-lg-4 padding-display-header">
      <h4 class="text-black text-end ">
        {{currentday}}
      </h4>

    <h4 class="text-black text-end ">
      {{currenttime}}

    </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">



      <div class="b-exchange-table">
        <div class="tbody">
          <div class="tr thead">
            <div class="td">Monnaie</div>
            <div class="td">Devise</div>
            <div class="td">Unité</div>
            <div class="td br">Achat</div>
            <div class="td">&nbsp;</div>
          </div>

          <div class="tr" *ngFor="let data of CoursData1">
            <div class="td">
              <img src="../../../../assets/{{data.logo}}" alt={{data.nom}}>
              <span class="hide-mobile">{{data.nom}}</span>
            </div>
            <div class="td">{{data.currency}}</div>
            <div class="td">{{data.unite}}</div>
            <div class="td br">{{data.achat}}</div>
            <div class="td">&nbsp;</div>
          </div>


          <div class="tr tfoot">
            <div class="td">&nbsp;</div>
            <div class="td">&nbsp;</div>
            <div class="td">&nbsp;</div>
            <div class="td br">&nbsp;</div>
            <div class="td">&nbsp;</div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6">



      <div class="b-exchange-table">
        <div class="tbody">
          <div class="tr thead">
            <div class="td">Monnaie</div>
            <div class="td">Devise</div>
            <div class="td">Unité</div>
            <div class="td br">Achat</div>
            <div class="td">&nbsp;</div>
          </div>

          <div class="tr" *ngFor="let data of CoursData2">
            <div class="td">
              <img src="../../../../assets/{{data.logo}}" alt={{data.nom}}>
              <span class="hide-mobile">{{data.nom}}</span>
            </div>
            <div class="td">{{data.currency}}</div>
            <div class="td">{{data.unite}}</div>
            <div class="td br">{{data.achat}}</div>
            <div class="td">&nbsp;</div>
          </div>


          <div class="tr tfoot">
            <div class="td">&nbsp;</div>
            <div class="td">&nbsp;</div>
            <div class="td">&nbsp;</div>
            <div class="td br">&nbsp;</div>
            <div class="td">&nbsp;</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
