
.text-black
{
  color: wheat;
}

.padding-display-header{
  padding-top: 1.3125rem;
  padding-right: 2.5rem;
}
.b-exchange-table {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 50px;
}
.b-exchange-table .thead.tr, .b-exchange-table .tfoot.tr {
  font-weight: bold;
}


.b-exchange-table .tr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  position: relative;
  padding: 0px;
}

.b-exchange-table .td:first-child {
  flex: 2 1 auto;
  text-align: left;
  padding-left: 25px;
  width: 10%;
  justify-content: center;
}

.b-exchange-table .thead .td {
  color: wheat;
  font-family: system-ui;
  font-size: 17px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}

.b-exchange-table .td {
  padding: 16px 5px;
  margin: 0 5px;
  flex: 1 1 auto;
  text-align: center;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #373737;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}
//.b-exchange-table .td:nth-child(4) {
//  background: -webkit-linear-gradient(#130CB7,#002661);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//}
.b-exchange-table .tr:nth-child(odd):before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 10px);
  left: 0;
  top: 5px;
  border-radius: 30px;
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 19%);
}
.b-exchange-table .tr {

  color: white;
}
.b-exchange-table .td:last-child {
  flex: 0 1 auto;
  width: 1%;
}
.b-exchange-table .tr:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 10px);
  left: 0;
  top: 5px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 19%);
}
.b-exchange-table .td img {
  height: 26px;
  width: 36px;
  object-fit: cover;
  border-radius: 4px;
}
.b-exchange-table .thead.tr:before, .b-exchange-table .tfoot.tr:before {
  display: none;
}
@media (min-width: 415px)
{
  .b-exchange-table .td:first-child {
    justify-content: flex-start;
  }
  //.b-exchange-table .thead .td:nth-child(4) {
  //  border-top: 2px solid #76a82f;
  //  border-top-left-radius: 20px;
  //  border-top-right-radius: 20px;
  //}
  //.b-exchange-table .tfoot .td:nth-child(4) {
  //  border-bottom: 2px solid #76a82f;
  //  border-bottom-left-radius: 20px;
  //  border-bottom-right-radius: 20px;
  //}
  //.b-exchange-table .td:nth-child(4) {
  //  border-left: 2px solid #76a82f;
  //  border-right: 2px solid #76a82f;
  //}
  .b-exchange-table .td img {
    margin-right: 16px;
  }
}
